.html, .body{
    padding: auto;
    margin: auto;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 4em;
}

b::after{
    content: " ";
    animation: 4s text-change infinite;
}

@keyframes text-change{
    0%{
        content: " Tech";
        color: white;
        background-color: rgb(22, 22, 199);
        border-radius: 10px;
    }
    50%{
        content: " Watches";
        color: white;
        background-color: rgb(22, 22, 199);
        border-radius: 10px;
    }
    100%{
        content: " Cars";
        color: white;
        background-color: rgb(22, 22, 199);
        border-radius: 10px;
    }
}
